<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <meta name="description" content="Escritor de códigos e poesias, eventualmente alguns artigos e crônicas. Amante do desenho industrial e fotógrafo de momentos importantes do meu cotidiano. Grande apreciador de boas comidas, livros e histórias." />
    <meta name="author" content="Thiago Campos" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph -->
    <meta property="og:title" content="Thiago Campos" />
    <meta property="og:description" content="Um eterno aprendiz — programador, escritor, cozinheiro, fotógrafo, e acima de tudo, curioso." />
    <meta property="og:image" content="https://thigcampos.com/images/marina.webp" />
    <meta property="og:url" content="https://thigcampos.com" />
    <meta property="og:type" content="website" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" sizes="any" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/foundations/typography.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/foundations/colors.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/foundations/layout.css" crossorigin="anonymous" />
    {% block head %}{% endblock %}
  </head>

  <body>
    {% block body %}
    <main>
      {% block main %}{% endblock %}
      <footer>
        <p>2025 · <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
        <p>Desenvolvido com <a href="https://codeberg.org/hipermidia/hipertexto">Hipertexto</a></p>
      </footer>
    </main>
    {% endblock %}
  </body>
</html>
