<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="color-scheme" content="light">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page is defined %}{{ page.title }}{% else %}{{ section.title }}{% endif %}</title>

  <meta name="author" content="Thiago Campos">
  <meta name="robots" content="index, follow">
  <meta name="fediverse:creator" content="@thgcmps@ciberlandia.pt">
  <meta name="description" content="Escritor de códigos, eventualmente alguns artigos e crônicas. Amante do desenho industrial e fotógrafo de momentos importantes do meu cotidiano. Grande apreciador de boas comidas, livros e histórias.">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Thiago Campos">
  <meta property="og:url" content="https://thigcampos.com">
  <meta property="og:image" content="https://thigcampos.com/images/marina.webp">

  <link rel="preload" href="/foundations/typography.css" as="style">
  <link rel="preload" href="/foundations/layout.css" as="style">
  <link rel="stylesheet" href="/foundations/typography.css">
  <link rel="stylesheet" href="/foundations/layout.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer>
    <p>2023–2026 · <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
    <p>
      <a href="/blog">Blogue</a> /
      <a href="/curated">Curadoria</a> /
      <a href="https://codeberg.org/thigcampos" target="_blank" rel="noopener">Repositórios</a>
    </p>
  </footer>
  {% endblock %}
</body>
</html>
