{% extends "base.html" %} 
{% block head %}
  <link rel="stylesheet" href="/documents/list.css" crossorigin="anonymous" />
{% endblock %}
{% block main %}  
      <section>
          {% for log in page.pages %}
              <article>
                <header>
                  <h2><a href="{{ log.url }}">{{ log.title }}</a></h2>
                </header>
                {{ log.content | safe }}
                <footer>
                  <p><a href="{{ log.url }}">{{ log.date }}</a></p>
                </footer>
              </article>
          {% endfor %}
      </section>
{% endblock %}
